venv
__pycache__
**/__pycache__
**/node_modules
**/build

_practice
**/var
**/tmp
.env
.cache
.vscode

searxng/.env
saerxng/core-config
.copilot
.local
.vscode-server
.dotnet
.bash_history
.ssh
.ipython
.lesshst
.gitconfig

*.code-workspace
